---
title: Hakkinda
listed: true
published: true
position: 2

editable_elements:
  'main/caption': Fethiye, Turkey
  'main/about_body': "<p>Fethiye, Akdeniz Bölgesi'nin batısında, Muğla iline bağlı bir ilçedir. Yüzölçümü 3.059 km²'dir. Muğla ili de dahil en geniş yüzölçümüne sahiptir. Doğu ve Güneydoğu'su Antalya ili, güneyi, güneybatısı ve batısı Akdeniz, kuzeybatısı Dalaman ilçesi, kuzeyi Denizli ve Burdur illeriyle çevrilidir. Antik Telmessos kentini de içinde saklayan Fethiye ilçesi, Fethiye körfezi'nin doğusunda, Fethiye ovası'nın güneybatısında yer alır. İzmir-Muğla üzerinden gelerek; Antalya'ya ulaşan kıyı yolu 1 km. doğusundan geçer. Bu yolla, il merkezi Muğla'ya uzaklığı yaklaşık 130 km'dir.

Fethiye, pek çok önemli depremler geçirmiştir. 1856 yılında bir deprem olduğu bilinmektedir. Ancak, 25.04.1957 tarihinde, saat 04.25 'de 7.1 büyüklüğünde deprem meydana gelmiş ve 67 kişi ölmüş, 3200 adet binada hasar meydana gelmiştir[5].Tekrar inşa edilen Fethiye'de şu an modern bir liman ve marina vardır. 10 Haziran 2012 tarihinde</p>
  <p>Ölüdeniz açıklarında 6.1 şiddetinde meydana gelen depremde can ve mal kaybı olmamış fakat bir çok ev ve işyeri hasar görmüştür</p>"
---